<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEADER</title>
</head>
<body>
      <!-- ========================================Header==================================================-->
        <header>
            <!-- ==============header-navigation======================= -->
            <nav class="header-nav">
                <ul>
                    <li>Giờ mở cửa: 10:00AM - 21:00PM</li>
                    <li>Hotline: 0934815729</li>
                    <li>Giới thiệu</li>
                    <li>Liên hệ</li>
                    <li>Chính sách</li>
                    <li>Freeship cho đơn hàng trên 500k</li>
                </ul>
            </nav>
            <!-- ====================end of header-navigation===================== -->
            <!-- ===========================Header-container========================== -->
            <div class="header-container">
                <div class="header-container__logo"><a href=""><img src="images/logo.jpg" alt="littleusa-logo"></a></div>

                <div class="header-container__search-bar">
                    <input type="text">

                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>   
{{!--                 
                <a href="">
                  <div class="header-container__user">
                      <i class="fa-solid fa-circle-user"></i>
                    
                      <div class="username">
                     

                        <div class="submenu">
                          <ul>
                            <a href=""><li>Your account</li></a>
                            <a href=""><li>logout</li></a>
                          </ul>
                        </div>
                      </div>
                  </div>
                </a> --}}
                
                <a href="">
                  <div class="header-container__user">
                      <i class="fa-solid fa-circle-user"></i>
                    
                      <span class="username">Tài khoản</span>
                  </div>
                </a>
               
                <div class="header-container__cart">
                    <i class="fa-solid fa-cart-arrow-down"></i>
                </div>
            </div>

            <!-- ============================End of Header-container====================================== -->
        </header>
        <!-- ========================================End of header========================================== -->
</body>
</html>