<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
   
    <title>LittleUSA</title>
</head>
<body>
        <!-- ===============================Content======================================== -->

        <div class="wrapper-content">
            <div class="content-nav">
                <ul>
                    <li><a href="">On Sale</a></li>
                    <li><a href="">Champion</a></li>
                    <li><a href="">MLB Korea</a></li>
                    <li><a href="">Life Work</a></li>
                    <li><a href="">Ambler Korea</a></li>
                    <li><a href="">BEENTRILL</a></li>
                    <li><a href="">NEW ERA</a></li>
                    <li><a href="">DREW HOUSE</a></li>
                    <li><a href="">MOSCHINO</a></li>
                    <li><a href="">HANES</a></li>
                    <li class="end"><a href="">patagonia</a></li>

                </ul>
            </div>

            <div class="content-carousel">
                <!-- 
                    Individual .carousel-item interval
                    Add data-interval="" to a .carousel-item to change the amount of time to delay between automatically cycling to the next item.
                 -->
                 <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="images/clothes-1.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="images/clothes-2.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="images/clothes-3.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="images/clothes-4.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="images/clothes-5.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="images/clothes-6.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="images/clothes-7.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="images/clothes-8.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="images/clothes-9.jpg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>

            <div class="content-brands">
                <ul class="content-brands__track">
                    <a href="">
                        <li><img src="images/champion.jpg" alt=""></li>
                    </a>
                    <a href="">
                        <li><img src="images/beentrill.jpg" alt=""></li>
                    </a>
                    <a href="">
                        <li><img src="images/Life-work.jpg" alt=""></li>
                    </a>
                    <a href="">
                        <li><img src="images/drew-house.jpg" alt=""></li>
                    </a>
                    <a href="">
                        <li><img src="images/Hanes.jpg" alt=""></li>
                    </a>
                    <a href="">
                        <li><img src="images/MLB-korea.jpg" alt=""></li>
                    </a>
                    <a href="">
                        <li><img src="images/moschino.jpg" alt=""></li>
                    </a>
                    <a href="">
                        <li><img src="images/patagonia.jpg" alt=""></li>
                    </a>
                    <a href="">
                        <li><img src="images/New-era.jpg" alt=""></li>
                    </a>
                </ul>
                
                <!-- ============================content-brands buttons ======================-->
                <button class="content-brands__button content-brands__button-left be-hidden"><i class="fa-solid fa-chevron-left"></i></button>
                <button class="content-brands__button content-brands__button-right"><i class="fa-solid fa-angle-right"></i></button>
                <!-- =============================end of content-brands buttons================ -->
            </div>

            <div class="content-commodities">
              <div class="best-seller">
                <h2 class="best-seller__title">BEST SELLER</h2>

                <div class="best-seller__box">
                  <ul class="best-seller__track">
                    <li>
                      <a href="#">
                        <div class="commodity-status">Hot</div>
                        <img src="images/commodites-1.jpg" alt="">
                      </a>
                      <div class="commodity-name">Red Champion T-Shirt</div>
                      <div class="commodity-price">400.000₫</div>
                    </li>
                    <li>
                      <a href="#">
                        <div class="commodity-status">Hot</div>
                        <img src="images/commodity-2.jpg" alt="">
                      </a>
                      <div class="commodity-name">Red Champion T-Shirt</div>
                      <div class="commodity-price">400.000₫</div>
                    </li>
                    <li>
                      <a href="#">
                        <div class="commodity-status">Hot</div>
                        <img src="images/commodity-3.jpg" alt="">
                      </a>
                      <div class="commodity-name">Red Champion T-Shirt</div>
                      <div class="commodity-price">400.000₫</div>
                    </li>
                    <li>
                      <a href="#">
                        <div class="commodity-status">Hot</div>
                        <img src="images/commodity-4.jpg" alt="">
                      </a>
                      <div class="commodity-name">Red Champion T-Shirt</div>
                      <div class="commodity-price">400.000₫</div>
                    </li>
                    <li>
                      <a href="#">
                        <div class="commodity-status">Hot</div>
                        <img src="images/commodity-5.png" alt="">
                      </a>
                      <div class="commodity-name">Red Champion T-Shirt</div>
                      <div class="commodity-price">400.000₫</div>
                    </li>
                    <li>
                      <a href="#">
                        <div class="commodity-status">Hot</div>
                        <img src="images/commodity-6.jpg" alt="">
                      </a>
                      <div class="commodity-name">Red Champion T-Shirt</div>
                      <div class="commodity-price">400.000₫</div>
                    </li>
                    <li>
                      <a href="#">
                        <div class="commodity-status">Hot</div>
                        <img src="images/commodity7.jpg" alt="">
                      </a>
                      <div class="commodity-name">Red Champion T-Shirt</div>
                      <div class="commodity-price">400.000₫</div>
                    </li>
                    <li>
                      <a href="#">
                        <div class="commodity-status">Hot</div>
                        <img src="images/commodity-8.png" alt="">
                      </a>
                      <div class="commodity-name">Red Champion T-Shirt</div>
                      <div class="commodity-price">400.000₫</div>
                    </li>
                    <li>
                      <a href="#">
                        <div class="commodity-status">Hot</div>
                        <img src="images/commodity-9.png" alt="">
                      </a>
                      <div class="commodity-name">Red Champion T-Shirt</div>
                      <div class="commodity-price">400.000₫</div>
                    </li>
                    <li>
                      <a href="#">
                        <div class="commodity-status">Hot</div>
                        <img src="../static/images/commodity-10.png" alt="">
                      </a>
                      <div class="commodity-name">Red Champion T-Shirt</div>
                      <div class="commodity-price">400.000₫</div>
                    </li> 
                  </ul>

                </div>

                <!-- ===============best-seller buttons=========== -->
                <button class="best-seller__button best-seller__button-left"><i class="fa-solid fa-chevron-left"></i></button>
                <button class="best-seller__button best-seller__button-right"><i class="fa-solid fa-angle-right"></i></button>
                <!-- ===============end of best-seller buttons=========== -->
              </div>

            </div>
        </div>

        <!-- ======================================End of content======================================== -->
        
        
        <script type="text/javascript" src=""></script>
</body>
</html>